*{
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

header{
  text-align: center;
}

main,section{
  border: 1px solid black;
}
#wrapper{
  display: flex;
  justify-content: space-between;
}


